.gallery-title {
    font-size: 36px;
    color: #42B32F;
    text-align: center;
    font-weight: 500;
    margin-bottom: 70px;
}

.gallery-title:after {
    content: "";
    position: absolute;
    width: 7.5%;
    left: 46.5%;
    height: 45px;
    border-bottom: 1px solid #5e5e5e;
}


    .filter-button {
            font-size: 15px;
            border: 1px solid white;
            border-radius: 5px;
            text-align: center;
            color: black;
            margin-bottom: 10px;
            padding: 5px;

}

.filter-button:hover {
    font-size: 15px;
    border: 1px solid #4b2c0f;
    border-radius: 5px;
    text-align: center;
    color: #ffffff;
    background-color: #4b2c0f;

}

.btn-default:active .filter-button:active {
    background-color: #4b2c0f;
    color: white;
}

.port-image {
    width: 100%;
}

.gallery_product {
    margin-bottom: 30px;
}
@keyframes zoomin {
    0% {
        transform: scale(1.0);
        -webkit-transform: scale(1.0);
    }

    25% {

        transform: scale(2);
        -webkit-transform: scale(2);
    }

    50% {

        transform: scale(3);
        -webkit-transform: scale(3);
    }

    75% {

        transform: scale(2);
        -webkit-transform: scale(2);
    }

    100% {
        transform: scale(1);
        -webkit-transform: scale(1);
    }
}
.gallery_product>img:hover {

    /* width: 120px;
    height: 120px;
    position: relative;
    transition: 0.25s ease; */
    display: block;
    margin-left: auto;
    margin-right: auto;    
    animation: zoomin 3s ease;
    z-index: 10;
    position: relative;
    cursor: pointer;


}

